<head>
  <title>CV de Baha eddine wannes </title>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body>
  <header>
      <h1>CV de Baha eddine wannes </h1>
  </header>
  
  <section>
      <div class="photo">
          <img src="../assets/img/baha.jpg" alt="Ma photo de profil">
      </div>
      <div class="prez">
          <h2>Profil</h2>
          <p>Je me présente baha eddine wannes stagaire chez talan tunisie.Je suis un développeur informatique spécialiser en génie logiciel
            Dans mon cursus professionelle j'ai maitrisé plusieur langage de développement esssentiellement java,Python,C/C++,HTML/CSS...
            J'ai intégrer aussi IC Canada comme développeur ERP dans le cadre de mon stage ouvrier et Sagilum SAS dans le cadre de mon stage ingénieur comme développeur PHP
            Notant bien que je maitrise parfaitement SQL que je manipule avec Mysql,Postgresql ...</p>
          <a href="#" download>Télécharger mon CV</a>
      </div>
      <div class="contact">
          <h2>Informations de contact</h2>
          <div class="contact-flex">
              <p>Nom : </p>
              <p>Baha Eddine WANNES</p>
          </div>
          <div class="contact-flex">
              <p>Adresse : </p>
              <p>Imm Thouraya El manar 1, Tunis</p>
          </div>
          <div class="contact-flex">
              <p>Téléphone :</p>
              <p>
                (+216)95 47 87 00</p>
          </div>
          <div class="contact-flex">
              <p>Mail : </p>
              <p><a href="mailto:wannesbaha123@gmail.com">wannesbaha123@gmail.com</a></p>
          </div>
         
      </div>
  </section>
  
  <section>
      <h2>Expériences professionnelles</h2>
      <div class="exp">
          <div class="exp-logo">
              <a href="#"><img src="../assets/img/iccanada.jpg" alt="Logo de IC"></a>
          </div>
          <div class="exp-info">
              <h3>Stage Ouvrier</h3>
              <h4>Juillet 2020-Aout 2020</h4>
          </div>
          <div class="exp-desc">
              <ul>
                    <li>Conception et implémentation d'une base de données
                    <li>Mise en place des serveurs nécessaire (Apache, Mysql..)
                    <li>Étude conceptuelle du programme(Digrammes des classes et les cardinalités )
                    <li>Assistance et développement de certaines fonctionnalités avec Django
            </ul>   
          </div>
      </div>
      <div class="exp">
          <div class="exp-logo">
              <a href="#"><img src="../assets/img/sagilem.jpg" alt="Logo de sagilem"></a>
          </div>
          <div class="exp-info">
              <h3>Stage Ingénieur</h3>
              <h4>Juin 2021-Aout 2020</h4>
          </div>
          <div class="exp-desc">
            <ul>
                <li>Étude de l'API Facebook et Réalisation d'un POC de création et de manipulation d'une page Facebook
                <li>Participation avec le Product Owner dans la réalisation du story mapping
                <li>Étude de l'API google calendar et l'exploitation de celui-ci dans le développement d'un agenda de gestion de rendez-vous synchronisé avec Google
                
        </ul>   
          </div>
      </div>
   
  <section>
      <h2>Formation</h2>
      <div class="exp">
          <div class="exp-logo">
              <a href="#"><img src="../assets/img/enit.jpg" alt="Logo ENIT"></a>
          </div>
          <div class="exp-info">
              <h3>Cycle d'ingénieur en génie logiciel</h3>
              <h4>2019 - 2022</h4>
          </div>
         
      </div>
      <div class="exp">
          <div class="exp-logo">
              <a href="#"><img src="../assets/img/IPEIS.jpg" alt="Logo prepa"></a>
          </div>
          <div class="exp-info">
              <h3>Prépa de sfax option math-physique</h3>
              <h4>2017 - 2019</h4>
          </div>
      </div>
      <div class="exp">
          <div class="exp-logo">
              <a href=""><img src="../assets/img/lycee.jpg" alt=""></a>
          </div>
          <div class="exp-info">
              <h3>Bac option Maths</h3>
              <h4>2014 - 2017</h4>
          </div>
          
      </div>
  </section>
  
  <section>
      <h2>Compétences</h2>
      <h3 class="h3gauche">Professionnelles</h3>
      <div class="comp">
          <p>HTML / CSS /JavaScript</p>
          <div class="conteneur-barre"><span class="barre c100"></span></div>
      </div>
      <div class="comp">
          <p>PHP / MySQL</p>
          <div class="conteneur-barre"><span class="barre c95"></span></div>
      </div>
      <div class="comp">
          <p>C/C++</p>
          <div class="conteneur-barre"><span class="barre c85"></span></div>
      </div>
      <h3 class="h3gauche">Personnelles</h3>
      <div class="comp2">
          <p>Créativité</p>
          <p>90%</p>
          <div class="conteneur-barre2"><span class="barre c90"></span></div>
      </div>
      <div class="comp2">
          <p>Adaptation</p>
          <p>85%</p>
          <div class="conteneur-barre2"><span class="barre c85"></span></div>
      </div>
      <div class="comp2">
          <p>Sérieux</p>
          <p>95%</p>
          <div class="conteneur-barre2"><span class="barre c95"></span></div>
      </div>
      <div class="comp2">
          <p>Pédagogie</p>
          <p>95%</p>
          <div class="conteneur-barre2"><span class="barre c95"></span></div>
      </div>
  </section>
  
 
  <footer>
      <p>Baha eddine wannes 2022</p>
      <p>Stagaire chez Talan</p>
      <p>Inscrit dans le projet de SMART METERING</p>